<div class="banner">
  <%= image_tag "banner.jpg" %>
</div>

<% if user_signed_in? %>
  <div class="new-article">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <%= link_to "Créer un nouvel article", new_article_path, class: "btn btn-flat" %>
    </div>
  </div>
<% end %>

<div class="articles-container">
  <div class="cover mb-4 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h3 class="typed-js" data-controller="typed-js"></h3>
    </div>
  </div>

  <div class="container py-5">
    <div class="row">
      <% @articles.each do |article| %>
        <div class="co-12 col-sm-6 col-md-4 mb-3">
          <% if user_signed_in? %>
            <%= link_to article_path(article), class:"text-decoration-none" do %>
              <div class="card-category">
                <%= article.title %>
              </div>
            <% end %>
          <% else %>
            <div class="card-category">
              <%= article.title %>
            </div>
          <% end %>

          <%= article.description %>
          <%= cl_image_tag article.photo_url %>
          <%= link_to "Télécharger le document", article.attachment_url, target: :_blank %>
        </div>
      <% end %>
    </div>
  </div>
</div>
