<div class="show-title">
  <h1><%= @article.title %></h1>
</div>

<div class="show-container">
  <div class="show-photo">
    <%= cl_image_tag @article.photo_url %>
  </div>

  <div class="show-content">
    <div class="show-description">
      <%= @article.description %>
    </div>

    <div class="show-attachment">
      <%= link_to "Ouvrir le document", @article.attachment_url, target: :_blank, class: "dl-link" %>
    </div>

    <div class="show-btns">
      <div class="show-btn">
        <%= link_to edit_article_path(@article.id), class: 'btn btn-light btn-sm border' do %>
           Modifier cet article
        <% end %>
      </div>
      <div class="show-btn">
        <%= button_to "Supprimer l'article", @article ,
                        method: :delete,
                        data: { confirm: "Confirmer la suppression de l'article ?" }, class: "delete-btn btn btn-light btn-sm border" %>
      </div>
    </div>
  </div>
</div>
